.attribution { 
   font-size: 11px;
   text-align: center; 
  }
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
   min-height: 100vh; 
   overflow-y: auto;
   position: relative;
   background-color: hsl(228, 33%, 97%);
}

.footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}